<h2>Products</h2>

<div *ngFor="let product of products">
  <img src={{product.image}} alt="img">

  <h3>
    <a [title]="product.name + 'details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <p *ngIf="product.rating"> Rating {{product.rating}}/5</p>


  <button type="button"><a [href]="product.link">Open Page</a></button>

  <button type="button" (click)="shareTelegram(product)">Share in Telegram</button>

  <button type="button" (click)="shareWhatsapp(product)">Share in Whatsapp</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

